@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

.banner_text h1{
    color:palevioletred ;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 61px;
    font-family: "Briem Hand", cursive;
}

.banner_text{
    text-align: center;
}

.banner_text p{
    margin-bottom: 60px;
    font-size: 20px;
}



a.banner_button{
     background-color: palevioletred;
     padding: 18px 37px;
     border-radius: 6px;
     color: white;
     font-size: 20px;
     
}

.button {
    width: 100%;
    text-align: center;
}

video.banner_video{
    width: 100%;
    margin-top: 120px;
}


.f_vd{
    width: 100%;
    margin-top: 60px;
    border-radius: 7px;
}

.furniture_p{
    margin-top: 60px;
}

.furnitore_img img{
    width: 100px;
    position: absolute;
    bottom: 0;
    right: -40px;
}

.furniture_section h2{
    color: rgb(67, 66, 66);
    margin-top: 82px;
    margin-bottom: 40px;
    font-size: 40px;
    text-align: center;
    font-family: "Briem Hand", cursive;
}

.furniture_section p{
    text-align: center;
    color: rgb(148, 67, 80);
    font-size: 20px;
}

.furniture_p p{
    font-size: 20px;
    text-align: center;
}

.discover h2{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 70px;
    color:  rgb(71, 171, 171);
    font-family: "Briem Hand", cursive;
}

.discover_box img{
    width: 100%;
    border-radius: 7px;
}

.discover_box p{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(71, 171, 171);
}

.tool_section{
    background-color: rgb(71, 171, 171);
    margin-top: 100px;
    padding: 83px 0;
}

.tools h2{
    text-align: center;
    font-family: "Briem Hand", cursive;
    margin-bottom: 40px;
    text-decoration: underline;
}

.tools p{
    text-align: center;
    font-size: 20px;
}

.tool_content{
    margin-top: 60px;
}

.tool_label1 span{
    background-color: rgb(228, 228, 54);
    padding: 10px 15px;
    border-radius: 7px;
    font-size: 25px;
    position: relative;
    font-weight: bold;
}

.tool_label2 span{
    background-color: rgb(255, 94, 0);
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 7px;
    position: absolute;
    top: -40px;
    left: 130px;
    color: white;
}

.tool_labels{
    position: absolute;
    top: 100px;
    right: -90px;
}


nav {
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 5%;
  height: 100px;
  background-color: transparent;
  padding: 15px;
}
nav .logo {
  float: left;
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #f5cb5c !important;
  text-decoration: none;
  margin-left: 50px;
}
nav .logo img{
    width: 150px;
    border-radius: 7px;
}
nav .logo strong {
  margin-left: 6px;
}
nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .links li {
  list-style: none;
}
nav .links a {
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 5%;
}
nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #f36ba1;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

nav.underline_nav ul li a {
  position: relative;
}
nav.underline_nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #151414;
  height: 1px;
}
nav.underline_nav ul li a:hover:after {
  width: 100%;
}

.underline_nav{
  background-color: palevioletred;
  margin-bottom: 50px;
  position: sticky;
}


.tool_section{
  margin-top: 100px;
  padding: 83px 0;
}

.tools h2{
  text-align: center;
  font-family: "Briem Hand", cursive;
  margin-bottom: 40px;
  text-decoration: underline;
}

.tools p{
  text-align: center;
  font-size: 20px;
}

.tool_content{
  margin-top: 60px;
}

.tool_label1 span{
  background-color: rgb(138, 19, 207);
  padding: 10px 15px;
  border-radius: 7px;
  font-size: 25px;
  position: relative;
  font-weight: bold;
}

.tool_label2 span{
  background-color: rgb(237, 67, 225);
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 7px;
  position: absolute;
  top: -40px;
  left: 130px;
  color: white;
}

.tool_labels{
  position: absolute;
  top: 100px;
  right: -90px;
}

.tool_section1{
  padding: 83px 0;
}

.section1{
  margin-top: 70px;
}

.sectionnnn{
display: flex;
}

.tools_video{
margin-top: 70px;
}

.tool_labellll2 span{
background-color: rgb(107, 7, 72);
padding: 10px 15px;
border-radius: 7px;
font-size: 25px;
position: relative;
font-weight: bold;
color: white;
}

.tool_labelll3 span{
background-color: rgb(186, 101, 146);
padding: 10px 15px;
font-size: 15px;
border-radius: 7px;
position: absolute;
bottom:-40px;
left: 200px;
color: white;
}

.tool_labels2{
position: absolute;
bottom: 0;
right: -90px;
}

.tool_section3{
  padding: 83px 0;
}

.tool_label12 span{
background-color:  rgb(246, 154, 240);
padding: 10px 15px;
border-radius: 7px;
font-size: 25px;
position: relative;
font-weight: bold;
}

.tool_label22 span{
  background-color: rgb(241, 199, 221);
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 7px;
  position: absolute;
  top: -40px;
  left: 130px;
}

.tools1{
 margin-top: 150px;
 margin-left: 100px;
}

.tools1 h2{
  text-align: center;
  font-family: "Briem Hand", cursive;
  margin-bottom: 40px;
  text-decoration: underline;
}

.tools2 h2{
  text-align: center;
  font-family: "Briem Hand", cursive;
  margin-bottom: 40px;
  text-decoration: underline;
}

.tools2{
  margin-right: 100px;
}

.tools4{
  margin-top: 150px;
  margin-left: 100px;
}

.tools4 h2{
  text-align: center;
  font-family: "Briem Hand", cursive;
  margin-bottom: 40px;
  text-decoration: underline;
}

.tool_section, .tool_section1, .tool_section3 {
  transition: background-color 0.5s ease;
}


.design_section{
  display: flex;
 margin-top: 100px;
 position: relative;

}

.design_box img{
width: 180px;
margin-top: -120px;
}

.design_box{
  text-align: center;
  box-shadow:0 0 56px rgba(226, 95, 167, 0.24) ;
  border-radius: 40px;
  padding: 30px;
  margin-bottom: 250px;

}

.ds_sec{
  text-align: center;
  margin-right: 80px;
}

.ds_sec h2{
  font-family: "Briem Hand", cursive;
  color: rgb(41, 67, 58);
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 40px;
}

.design_box h2{
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Briem Hand", cursive;
  text-decoration: underline;
  color: aquamarine;
}

.design_section {
  display: flex;
  width: 100%;
  position: relative;
}


.left-content {
  flex: 1;
  position: -webkit-sticky; 
  position: sticky;
  height: 80vh; 
  padding: 20px;
  background-color: white;
  box-sizing: border-box;
  top: 150px;
}

.right-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}
